# ##############################################################################
# boards/arm/ra8/fpb-ra8e1/Kconfig
#
# Kconfig for the FPB-RA8E1 board support package for the RA8E1 MCU.
#
if ARCH_BOARD_FPB_RA8E1

config BOARD_FPB_RA8E1
    bool "FPB-RA8E1 Board Support"
    help
      Enable support for the FPB-RA8E1 board based on the RA8E1 MCU.

endif

#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_ADC_BATTERY
	tristate "ADC Battery Monitor Example"
	default n
	depends on ADC && RA8_ADC_BATTERY_MONITOR
	---help---
		Enable the ADC battery monitor example for FPB-RA8E1.
		This example demonstrates how to use the ADC driver to
		monitor battery voltage and current.

if EXAMPLES_ADC_BATTERY

config EXAMPLES_ADC_BATTERY_PROGNAME
	string "Program name"
	default "adc_battery"
	---help---
		This is the name of the program that will be used when the
		NSH ELF program is installed.

config EXAMPLES_ADC_BATTERY_PRIORITY
	int "ADC Battery task priority"
	default 100

config EXAMPLES_ADC_BATTERY_STACKSIZE
	int "ADC Battery stack size"
	default 2048

endif


# GY-912 sensor module support
config SENSORS_GY912
	bool "GY-912 10DOF sensor module support"
	default n
	depends on RA8_SPI
	---help---
		Enable support for GY-912 10DOF sensor module containing
		ICM-20948 9DOF IMU and BMP388 barometric pressure sensor.

if SENSORS_GY912

config GY912_SPI_FREQUENCY
	int "GY-912 SPI frequency"
	default 1000000
	range 100000 8000000
	---help---
		SPI frequency for GY-912 sensor communication (Hz)

config GY912_USE_DMA
	bool "Use DMA for GY-912 transfers"
	default y
	depends on RA8_SPI0_DMA
	---help---
		Use DMA for GY-912 sensor data transfers for better performance

config GY912_DEBUG
	bool "GY-912 debug output"
	default n
	depends on DEBUG_SENSORS
	---help---
		Enable debug output for GY-912 sensor module

endif # SENSORS_GY912

# ##############################################################################
# Demo Applications Configuration
# ##############################################################################

comment "FPB-RA8E1 Demo Applications"

config RA8E1_GPS_DEMO
	bool "GPS Demo Application"
	default n
	depends on RA8_SCI_UART
	---help---
		Enable GPS demo application for FPB-RA8E1.
		Demonstrates GPS module communication and NMEA parsing.

config RA8E1_SBUS_DEMO
	bool "SBUS Demo Application"
	default n
	depends on RA8_SCI_UART
	---help---
		Enable SBUS demo application for FPB-RA8E1.
		Demonstrates SBUS protocol for RC communication.

config RA8E1_PWM_DEMO
	bool "PWM ESCs Demo Application"
	default n
	depends on PWM
	---help---
		Enable PWM ESCs demo application for FPB-RA8E1.
		Demonstrates PWM control for electronic speed controllers.

config RA8E1_SPI_LOOPBACK_DEMO
	bool "SPI Loopback Demo Application"
	default n
	depends on RA8_SPI
	---help---
		Enable SPI loopback demo application for FPB-RA8E1.
		Demonstrates SPI communication in loopback mode.

config RA8E1_SPI_GY912_DEMO
	bool "SPI GY-912 Demo Application"
	default n
	depends on RA8_SPI && SENSORS_GY912
	---help---
		Enable SPI GY-912 sensor demo application for FPB-RA8E1.
		Demonstrates 10DOF sensor module communication via SPI.

config RA8E1_I2C_GY912_DEMO
	bool "I2C GY-912 Demo Application"
	default n
	depends on RA8_SCI_I2C
	---help---
		Enable I2C GY-912 sensor demo application for FPB-RA8E1.
		Demonstrates 10DOF sensor module communication via I2C.

config RA8E1_I2C_SIMPLE_DEMO
	bool "I2C Simple Demo Application"
	default n
	depends on RA8_SCI_I2C
	---help---
		Enable I2C simple demo application for FPB-RA8E1.
		Demonstrates basic I2C communication patterns.

config RA8E1_I2C_ACCEL_DEMO
	bool "I2C Accelerometer Demo Application"
	default n
	depends on RA8_SCI_I2C
	---help---
		Enable I2C accelerometer demo application for FPB-RA8E1.
		Demonstrates accelerometer sensor communication via I2C.

config RA8E1_ADC_BMS_DEMO
	bool "ADC Battery Management Demo Application"
	default n
	depends on BATTERY_BMS_ADC
	---help---
		Enable ADC battery management demo application for FPB-RA8E1.
		Demonstrates battery monitoring using ADC channels.

config RA8E1_DATA_FLASH_DEMO
	bool "Data Flash Demo Application"
	default n
	depends on RA8_DATA_FLASH
	---help---
		Enable data flash demo application for FPB-RA8E1.
		Demonstrates data flash read/write operations.

config RA8E1_CODE_FLASH_DEMO
	bool "Code Flash Demo Application"
	default n
	depends on RA8_CODE_FLASH
	---help---
		Enable code flash demo application for FPB-RA8E1.
		Demonstrates code flash programming operations.