*.a
*.adb
*.dba
*.dbo
*.asm
*.bin
*.d
!*.d/
*.dSYM
*.elf
*.exe
*.gcno
*.gcda
*.hex
*.i
*.ihx
*.inf
*.lib
*.lod
*.lst
*.map
*.o
*.obj
*.profraw
*.rel
*.src
*.srec
*.swn
*.swo
*.swp
*.sym
*.wsp
*.ddc
*.dds
*.su
*.pyc
*.mapfile
*.SystemMap
*~
\#*\#
.\#*
.depend
/.cache
/.config
/.config.*
/.config-*
/.config\ *
/.cproject
/.cache
/.clang-format
/.gdbinit
/.gdb_history
/.project
/.version
/_SAVED_APPS_config
/cscope.*
/defconfig
/Make.defs
/nuttx
/nuttx32
/nuttx-*
/nuttx.*
/nuttx_user*
/staging
**/tags
/TAGS
core
Make*.dep
uImage
/external
# $(TOPDIR)/Makefile.[unix|win]::$(CONTEXTDIRS_DEPS)
.context
.context\ *
# $(TOPDIR)/Makefile.[unix|win]::$(DIRLINKS_EXTERNAL_DIRS)
.dirlinks
.fakelnk
.vscode
.idea
.DS_Store
tools/gdb/__pycache__
/build
.ccls-cache
compile_commands.json
imx9-sdimage.img
kwarning
SAVEMake.defs
SAVEconfig
.aider*
imx9-norimage.img
config.txt
validate_kconfig.py
boards/arm/ra8/fpb-ra8e1/rust_lib/target/.rustc_info.json
boards/arm/ra8/fpb-ra8e1/rust_lib/target/CACHEDIR.TAG
boards/arm/ra8/fpb-ra8e1/rust_lib/target/release/.cargo-lock
boards/arm/ra8/fpb-ra8e1/rust_lib/target/release/.fingerprint/libm-f9a0bb46ac99bd6b/build-script-build-script-build
boards/arm/ra8/fpb-ra8e1/rust_lib/target/release/.fingerprint/libm-f9a0bb46ac99bd6b/build-script-build-script-build.json
boards/arm/ra8/fpb-ra8e1/rust_lib/target/release/.fingerprint/libm-f9a0bb46ac99bd6b/dep-build-script-build-script-build
boards/arm/ra8/fpb-ra8e1/rust_lib/target/release/.fingerprint/libm-f9a0bb46ac99bd6b/invoked.timestamp
boards/arm/ra8/fpb-ra8e1/rust_lib/target/release/build/libm-f9a0bb46ac99bd6b/build_script_build-f9a0bb46ac99bd6b
boards/arm/ra8/fpb-ra8e1/rust_lib/target/release/build/libm-f9a0bb46ac99bd6b/build-script-build
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/CACHEDIR.TAG
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.cargo-lock
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/libm-3c4b0651c9060503/run-build-script-build-script-build
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/libm-3c4b0651c9060503/run-build-script-build-script-build.json
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/libm-eefef506113bfc8a/dep-lib-libm
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/libm-eefef506113bfc8a/invoked.timestamp
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/libm-eefef506113bfc8a/lib-libm
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/libm-eefef506113bfc8a/lib-libm.json
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/ra8e1_rust_lib-b95c02ade0326618/dep-lib-ra8e1_rust_lib
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/ra8e1_rust_lib-b95c02ade0326618/invoked.timestamp
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/ra8e1_rust_lib-b95c02ade0326618/lib-ra8e1_rust_lib
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/ra8e1_rust_lib-b95c02ade0326618/lib-ra8e1_rust_lib.json
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/.fingerprint/ra8e1_rust_lib-b95c02ade0326618/output-lib-ra8e1_rust_lib
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/build/libm-3c4b0651c9060503/invoked.timestamp
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/build/libm-3c4b0651c9060503/output
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/build/libm-3c4b0651c9060503/root-output
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/build/libm-3c4b0651c9060503/stderr
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/deps/liblibm-eefef506113bfc8a.rlib
boards/arm/ra8/fpb-ra8e1/rust_lib/target/thumbv8m.main-none-eabihf/release/deps/liblibm-eefef506113bfc8a.rmeta
include/nuttx/coresight/coresight_funnel.h
boards/arm/ra8/fpb-ra8e1/scripts/fpb-ra8e1.ld.tmp
