# SPI Configuration for RA8 (Add to nuttx/arch/arm/src/ra8/Kconfig)

config RA8_SPI
	bool
	default n

menuconfig RA8_SPI0
	bool "SPI0"
	default n
	select RA8_SPI
	---help---
		Select to enable support for SPI0

if RA8_SPI0

config RA8_SPI0_DMA
	bool "SPI0 DMA support"
	default n
	depends on RA8_DMAC
	---help---
		Use DMA for SPI0 transfers

endif # RA8_SPI0

menuconfig RA8_SPI1
	bool "SPI1"
	default n
	select RA8_SPI
	---help---
		Select to enable support for SPI1

if RA8_SPI1

config RA8_SPI1_DMA
	bool "SPI1 DMA support"
	default n
	depends on RA8_DMAC
	---help---
		Use DMA for SPI1 transfers

endif # RA8_SPI1

config RA8_DMAC
	bool "DMAC support"
	default n
	---help---
		Select to enable DMAC (Direct Memory Access Controller) support

if RA8_DMAC

config RA8_DMAC_CHANNELS
	int "Number of DMAC channels"
	default 8
	range 1 8
	---help---
		Number of DMAC channels to support (1-8)

endif # RA8_DMAC

# GY-912 sensor module support
config SENSORS_GY912
	bool "GY-912 10DOF sensor module support"
	default n
	depends on RA8_SPI
	---help---
		Enable support for GY-912 10DOF sensor module containing
		ICM-20948 9DOF IMU and BMP388 barometric pressure sensor.

if SENSORS_GY912

config GY912_SPI_FREQUENCY
	int "GY-912 SPI frequency"
	default 1000000
	range 100000 8000000
	---help---
		SPI frequency for GY-912 sensor communication (Hz)

config GY912_USE_DMA
	bool "Use DMA for GY-912 transfers"
	default y
	depends on RA8_SPI0_DMA
	---help---
		Use DMA for GY-912 sensor data transfers for better performance

config GY912_DEBUG
	bool "GY-912 debug output"
	default n
	depends on DEBUG_SENSORS
	---help---
		Enable debug output for GY-912 sensor module

endif # SENSORS_GY912
